<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/main.css">
</head>

<body>
    <div class="header">
        <h1>Privacy Policy</h1>
    </div>
    <h1>Data Privacy Statement</h1>

    <p>This document pertains to the data privacy practices of <a href="https://realpandit.com">https://realpandit.com</a> ("we" "Venue Care (OPC)
        Private Limited). Realpandit, referred to as "the website and how we safeguard the privacy of individuals
        who use the website, including pandits and buyers/customers, whether they are registered users or not. Please
        carefully review this data privacy statement to comprehend how the website manages and utilizes the information
        you provide

        This data privacy statement is in accordance with Rule 3(1) of the Information Technology (Intermediaries
        Guidelines) Rules, 2011, and Information Technology (Reasonable Secunty Practices and Procedures and Sensitive
        Personal Data or Information) Rules, 2011, which cessitates the publication of a data privacy statement for the
        collection, use, storage, and transfer of sensitive personal data or informadion
    </p>
    <h1>
        User's Agreement
    </h1>
    <p>By accessing and using this website, you signify your understanding of the terms and expressly consent to this
        data privacy statement. If you do not agree with the terms outlined statement, please refrain from using this
        website

        Your continued use of this website signifies your unconditional consent and agreement with the terms of this
        data privacy statement regarding the collection, maintenance, use, processing, and disclosure of your personal
        and other information as specified in this document.

        This data privacy statement should be read in conjunction with the respective Terms of Use or any other terms
        and conditions provided on the website.
    </p>
    <h1>Information Gathering </h1>

    <p>Creating a user profile with Realpandit requires the provision of specific details. Mandatory Information
        includes
        your phone number for one-time password (OTP) verification, which is essential for registration security.
        Additionally, you have the option to provide your first name, last name, and date of birth (DOB), which is not
        obligatory during the registration process</p>

    <h1>Purpose and Utilization of Data/Information Collection</h1>

    <p> Realpandit collects this information to create a personalized user profile tailored to your specific needs and
        preferences. If you choose not to provide your date of birth, it will not obstruct the registration process, and
        you
        can still access Realpandit's services using your verified phone number.</p>

    <h1>Data Removal</h1>

    <p>If you wish to delete your entire Realpandit profile, along with associated personal information. you can find an
        option for "Account Deletion" in the side menu. Follow the provided instructions to complete the account
        deletion
        process.</p>

    <h1>Voice Recording and Microphone Access</h1>

    <p>Realpandit's app offers an innovative way to interact with users, allowing you to ask questions

        and communicate via voice recordings. To enable this feature, the app requests access to your

        device's microphone. This permission allows the app to capture and process your voice as digital

        data for communication.</p>

    <h1> Commitment to Privacy</h1>

    <p>The website is dedicated to safeguarding the privacy of all visitors, whether they are registered

        users or casual visitors. Users are encouraged to understand the types of personally identifiable information
        collected. This information is used for specific predictions, but it will not be used in any direct or indirect
        manner other than for communicating horoscope charts and predictions to the user. The website does not engage in
        the
        sale or rental of information provided to it.</p>

    <p>The website does not offer support or solutions for users with mental health issues, including those
        contemplating
        self-harm or suicide. Such users are advised to discontinue using the website immediately, and any continued use
        will be solely at their risk, with the possibility of information sharing with law enforcement authonties if
        necessary. This information is not protected by non-disclosure or confidentiality agreements, either with the
        website or any third party involved</p>

    <p> The website does not guarantee the accuracy of predictions made by pandits to users, and it assumes no
        responsibility for the reliability or authenticity of gems and related items represented and sold on the
        website.
        The website does not provide any warranty for such services</p>

    <h1> Information Collected by the Website</h1>
    <p> Personal identifiable information: Personal information is data that identifies a specific end user. This
        information is collected during actions such as creating an account/registration data, booking a paid service,
        and
        through log files, IP addresses, and cookies</p>

    <p> Non-Personal Identifiable information This information does not identify a specific end user and includes data
        such
        as URLs of visited websites, internet service providers, browser type, and geographical location. It is used for
        troubleshooting, website administration, trend analysis. demographic data gathering, and cooperation with law
        enforcement.</p>

    <p>To ensure a seamless experience, the website uses various data collected through cookies, log files, device
        identifiers, location data and clear gifts. This data is used to provide a personalized experience, diagnose and
        fox
        technical issues, and enhance the services offered</p>

    <h1>Security Measures</h1>

    <p>The website takes security measures to protect the personal information provided by users. These measures include
        physical and electronic security to prevent unauthorized access. However, no data transmission can be guaranteed
        to
        be completely secure, so users are encouraged to take precautions and not share sensitive information, including
        login details</p>

    <h1>Use of Information</h1>

    <p> The information collected by the website may be used for various purposes, including providing a personalized
        browsing experience, conducting research, improving marketing efforts, analyzing usage, improving content, and
        customizing the website's layout. IP tracking and cookies data are used for facilitating website usage and
        providing
        a personalized experience.</p>

    <h1>Confidentiality</h1>

    <p>The website sims to safeguard confidential information provided by users. Confidential information will not be
        disclosed except in specific circumstances, such as when there is a threat to a user's health or safety, legal
        requirements, or to protect the website's rights or property.</p>

    <h1>Children's Privacy</h1>
    <p>
        While some service information is accessible to children under 18, the website is not designed for

        children under 13, and no personally identifiable information of children under 13 is knowingly

        collected</p>

    <h1>Safety and Security</h1>
    <p> Realpandit.com employs encryption methods to ensure secure transactions, safeguarding utvers

        personal and financial information </p>

    <h1>Disclaimer</h1>

    <p>The website is not responsible for communications between users and third-party websites. Users are advised to
        read
        the privacy policies and other policies of third-party websites, and the website is not liable for any actions
        taken
        solely because a link to a third-party website was provided.</p>

    <h1> Grievance Officer
    </h1>
    <p>Grievance Officer Name: <b>Yash Sharma</b></p>

    <p>Email: <a href="mailto:contact@realpandit.com">contact@realpandit.com</a></p>
</body>
<style>
    body{
        padding: 0 50px;
    }
    .header{
        padding: 20px 0;
    
    }
    h1{
        padding: 15px 0;
    }
    h1:nth-child(1){
        padding-top: 0;
    }
    p{
        padding-bottom: 10px;
    }
</style>
</html>