.about-container{
    width: 100%;
    height: fit-content;
}

.about-item{
    width: 80%;
    margin: 0 auto;
}

.about-header{
    color: var(--orange);
    text-transform: uppercase;
}
.aboutus-container{
    margin-top: 50px;
}
/* .aboutus{ */
    /* margin-bottom: 20px; */
/* } */
.mission-container{
    margin-top: 50px;
}