.contact-container{
    width: 100%;
    height: fit-content;
}

.contact-item{
    width: 80%;
    padding-top: 30px;
    height: calc(100vh - 80px);
}

.contact-header{
    color: var(--orange);
    text-transform: uppercase;
    text-align: center;
}