.index-banner {
    width: 100%;
    height: 300px;
    position: relative;
    background-color: var(--orange);
}

.banner-cover {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 9;
    background: linear-gradient(0deg, #fb5f05d7 0%, #fb5f05d7 100%), linear-gradient(180deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0) 100%)
}

.banner-img {
    width: 100%;
    height: 100%;
    position: absolute;
}

.banner-main-container {
    width: 90%;
}

.landing-text {
    color: #FFEEE2;
    font-size: 32px;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    word-wrap: break-word;
    background: transparent;
}

.banner-search-form-container {
    width: 100%;
    margin-top: 20px;
}

.banner-search {
    width: 100%;
}

.banner-input-1 {
    flex: .9;
    height: 60px;
    border-radius: 50px;
    padding-right: 20px;
    align-items: center;
    background-color: #fff;
}

.input-search {
    width: 100%;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 0 20px;
    background-color: transparent;
}



.input-svg {
    width: 35px;
    height: 35px;
}






.aarti-container {
    width: 100%;
    height: 500px;
    position: relative;
}

.aarti-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    object-position: center;
}

.aarti-main {
    width: 100%;
    height: 100%;
    z-index: 9;
    color: #fff;
    position: absolute;
    background: rgba(0, 0, 0, 0.22);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}



.featured-header {
    padding: 20px 30px;
}

.pandit-card-container {
    justify-content: space-around;
    padding: 20px 30px;
    padding-bottom: 50px;
}

.pandit-card-name {
    text-align: center;
}

.pandit-card {
    width: 250px;
    height: 250px;
    margin: 10px;
    border-radius: 20px;
    background: rgba(255, 238, 226, 0.76);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.1px);
    -webkit-backdrop-filter: blur(5.1px);
}

.pandit-card-img {
    width: 100%;
    height: 200px;
}

.pandit-card-img img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

@media screen and (max-width:500px) {
    .landing-text {
        text-align: center;
        font-size: 24px;
    }

    .banner-input-1 {
        flex: 1;
    }

    .pandit-card-container {
        align-items: center;
        flex-direction: column;
    }
}